<?xml version="1.0" ?>
<!--
/**
 * Copyright © 2015 NKS LLC. (http://www.mygento.ru)
 * Public license URL: http://www.mygento.ru/oferta
 * Support EMAIL support@mygento.ru
 */
-->
<config>
    <modules>
        <Mygento_Base>
            <version>1.0.4</version>
        </Mygento_Base>
    </modules>
    <global>
        <helpers>
            <base>
                <class>Mygento_Base_Helper</class>
            </base>
        </helpers>
        <blocks>
            <base>
                <class>Mygento_Base_Block</class>
            </base>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <base>
                                            <title>Mygento - Extensions Information</title>
                                        </base>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <base>
                    <files>
                        <default>Mygento_Base.csv</default>
                    </files>
                </base>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <base>
                    <files>
                        <default>Mygento_Base.csv</default>
                    </files>
                </base>
            </modules>
        </translate>
    </frontend>
</config>